* {
	padding: 0;
	margin: 0;
}

html, body {
	font-size: 16px;
}

.container {
	max-width: 1920px;
	/*width: 100%;*/
}
.wrapper-top-content {
	width: auto;
	height: 846px;
	background: url(../img/bgraund1.png);
	     -o-background-size: cover;
	-webkit-background-size: cover;
			background-size: cover;
	background-position-x: center;
	background-repeat: no-repeat;
}

.content {
	max-width: 960px;
	margin: auto;
}

header {
	padding-top: 60px;
	height: 218px;
	
}

.fluid-content {
	/*width: 100%;*/
}

.logo {
    font-family: 'league_gothicregular';
    font-size: 3rem;
    text-align: left;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}


.logo > span {
	color: #583e63;
	text-shadow: none;
}

nav {
	height: 62px;
	vertical-align: middle;
	display: inline-block;
}


.block_link_header {
	width: 630px;
	margin-left: 16.666666667%;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.block_link_header li {
	display: inline-block;
	list-style: none;
}

.link_header {
	text-decoration: none;
  font-family: 'league_gothicregular';
	font-size: 1.5rem;
	color: white;
  text-align: left;
  padding: 0 4px 0;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.link_header:hover {
	border-bottom: 2px solid #edbfff;
}
/*SLICK SLIDER >>>START*/
.slider-place {
	width: 100%;
	height: 400px;
	position: relative;
	background: rgba(0, 0, 0, 0.2);
}

#slider {
	max-width: 960px;
	height: 450px;
	position: absolute;
	top: -35px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	border: 1px solid green;
}

.slick-list,
.slick-track {
	height: inherit;
}

/*.slider__triangle-shadowl*/
.slider__triangle-l {
	/*position: absolute;*/
	top: 45%;
	left: -6.770833333%;
	z-index: 1;
}

/*.slider__triangle-shadowr */
.slider__triangle-r {
	/*position: absolute;*/
	/*margin-top: -100px;*/
	/*float: right;*/
	top: 48%;
	right: -12.5%;
}

.slick-dots li {
	/*position: relative;*/
	width: 17px;
	height: 17px;
	background-color: rgba(0,0,0,0.5);
	-webkit-border-radius: 50%;
	        border-radius: 50%;

}

 .slick-dots {
	/*position: absolute;*/
	text-align: right;
	right: 16.666666667%;
	bottom: -94px;
}

li.slick-active::after {
	content: "";
	width: 11px;
	height: 11px;
	position: absolute;
	top: 3px;
	right: 3px;
	background-color: white;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	z-index: 1;
	/*vertical-align: bottom;*/
	/*-webkit-box-sizing: border-box;*/
	   /*-moz-box-sizing: border-box;*/
	        /*box-sizing: border-box;*/
}
.slick-dots button {
	outline: none;
}

.slick-active button::-moz-focus-inner {
	border: 0;
}
/*убирает точки в dots по-умолчанию*/
.slick-dots li button:before {
	content: "";
}

.content-slider {
	/*parent width 960px*/
	width: inherit;
	font-family: 'league_gothicregular';
	color: #fff;
}

.content-slider__wrapper {
	width: 55%;
	padding-top: 115px;
	
}

.content-slider__h3 {
	font-size: 3.6rem;
	font-weight: normal;
	line-height: 52px;
	text-transform: capitalize;
}

.content-slider__paragraph {
	font-size: 1.975rem;
	color: #EDBFFF;
  text-align: left;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.content-slider__text {
	width: 100%;
	display: inline-block;
	font-family: 'Open Sans';
	font-weight: lighter;
	font-size: 1.1rem;
}

.iphones {
	/*parents' size - 960px x 450px / width 265px x 430px*/
	/*overflow: visible;*/
	position: relative;
	width: 27.604166667%;
	height: 95.555555556%;
	top: -330px;
	left: 620px;
	background-image: url(../img/Iphone.png);
	background-repeat: no-repeat;
	/*background-position: -7px 80px;*/
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

audio {
	display: none;
}
/*button ---PLAY--->>>start*/
/*.play {
	position: absolute;
	top: 147px;
	right: 55px;
	width: 27.924528302%;
	height: 17.209302326%;
	background: none;
	border: none;
	background-image: url(../img/Play.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	     -o-background-size: 100%;
	        background-size: 100%;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	cursor: pointer;
}*/

.btn-play:hover {
	-webkit-box-shadow: 0 3px rgba(0,0,0,.5);
	        box-shadow: 0 3px rgba(0,0,0,.5);
}
			/*button of code*/

.btn-play {
	width: 27.924528302%;
	height: 17.209302326%;
	position: absolute;
	top: 147px;
	right: 55px;
	border: 1px solid transparent;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	
}
.play {
	width: 100%;
	height: 100%;
	text-align: center;
	padding-left: 17%;
	border: 1px solid rgba(255,255,255,0.8);
	background: none;
	background-color: rgba(203, 165, 218,0.8);
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	cursor: pointer;
}
.btn-play__border1,
.btn-play__border2,
.btn-play__border3
{
	width: 100%;
	height: 100%;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.btn-play__border1 {
	border: 3px solid rgba(170,170,170,0.5);
}
.btn-play__border2 {
	
	border: 6px solid rgb(70,50,79);
}
.btn-play__border3 {
	border: 3px solid rgba(170,170,170,0.5);
}
.fa-play {
	font-size: 1.625rem;
	color: #fff;
}

/*button ---PLAY---<<<end*/

/*SLICK SLIDER <<< END*/

main {}

.block-article1 {
	height: 340px;
	padding-top: 80px;
	background: -moz-linear-gradient(top, #734f81 0%, #34263b 100%);
	background: -webkit-linear-gradient(top, #734f81 0%, #34263b 100%);
	background: -o-linear-gradient(top, #734f81 0%, #34263b 100%);
	background: -ms-linear-gradient(top, #734f81 0%, #34263b 100%);
	background: linear-gradient(to bottom, #734f81 0%, #34263b 100%);
}

.article1-content {
	display: flex;
	-webkit-justify-content: space-around;
	        justify-content: space-around;
}


.block-article1__section {
	width: 236px;
    text-align: left;
    line-height: 1.5;
    color: rgb(255, 255, 255);
}

.block-article1__header
{
	font-family: "league_gothicregular";
	font-weight: lighter;
	/*font-size: 1.3750em;*/
	font-size: 1.875rem;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px rgba(15, 21, 24);
}

/*.wrench {
	width: 30px;
	height: 30px;
}*/

.wrench::before {
	content: url(../img/wrench.png);
/*	-webkit-background-size: auto;
	     -o-background-size: auto;
	        background-size: auto;*/
	/*background-repeat: no-repeat;*/
}

.fa-comment {
	color: #FFF;
	font-size: 20px;
}

.block-article1__text {
	font-family: 'Open Sans';
	display: block;
	height: 115px;
	overflow: hidden;
	font-size: 1rem;
	text-shadow: 1px 1px 0px rgba(15, 21, 24);
}

.block-article1__btn {
	border: none;
	background: none;
	/*display: flex;
	justify-content: flex-end;*/
	color: rgb(255,255,255);
	font-size: 1.125rem;
	line-height: 1.333;
	font-family: "league_gothicregular";
	text-shadow: 1px 1px 0px rgba(15, 21, 24);
	cursor: pointer;
}

.block-article1__btn:hover {
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}

.block-article1__btn:hover {
	overflow: scroll;
}
/*COMMENTS AND RECENT UPDATES >>>START*/
.comments-and-updates {
	height: 486px;
	padding-top: 100px;
	background-color: #f9f9f9;
	border-bottom: 1px solid #e6e6e6;
}

#slider-comments {
	width: 467px;
	height: 295px;
	/*overflow: visible;*/
}

.dots-background.slick-active::after {
	content: "";
	/*position: absolute;*/
	background: #515151 !important;
	border: 1px solid #484848;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px #888888;
	        box-shadow: inset 0 1px #888888;
	/*width: 11px;*/
	/*height: 11px;*/
	/*-webkit-border-radius: 50%;
	        border-radius: 50%;*/
	z-index: 1;
	/*right: 3px;*/
	/*bottom: 1px;*/
}

.slider-comments__item {
	width: 447px;
	height: 295px;
}

.slider-comments__content {
	width: 427px;
	height: 272px;
	margin-left: 25px;
	/*margin-right: 25px;*/
	padding: 27px 37px 37px 37px;
	background-color: #FFF;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: 0 1px 2px lightgrey;
	        box-shadow: 0 1px 2px lightgrey;
}

.slider-comments__user::before {
	content: url(../img/user_face.png);
	position: absolute;
	/*left: 20px;*/
	margin-top: -15px;
	margin-left: -60px;
}

.slider-comments__triangle {
	position: relative;
	right: -330px;
	bottom: -40px;
	/*left: 0;*/
	width: 20px;
	height: 20px;
	/*border-top: 20px solid #fff;
	border-bottom: 20px solid transparent;
	border-left: 20px solid transparent;*/
	background-image: url(../img/comments-triangle.png);
}

.slider-comments__h3-text {
	padding-bottom: 5px;
	font-size: 1.875rem;
  font-family: "league_gothicregular";
  font-weight: normal;
  color: rgb(69, 69, 69);
  text-transform: uppercase;
  /*line-height: 50px;*/
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.slider-comments__h3-pink {
	color: #F8B6FFFF;
}

.slider-comments__text {
	width: 347px;
	height: 162px;
	font-size: 1rem;
	font-family: "Open Sans";
	font-weight: 300;
	color: rgb(69, 69, 69);
	line-height: 1.5;
	/*letter-spacing: -0.089px;*/
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

/*recent update >>>start*/
.comments-and-updates__wrapper {
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

.recent-updates {
	max-width: 384px;
	margin-top: 33px;
}

.recent-updates__h4 {
	margin-bottom: 20px;
	margin-left: -65px;
	font-family: "league_gothicregular";
	font-size: 1.875rem;
	font-weight: normal;
	color: rgb(69, 69, 69);
	line-height: 0.8;
	text-align: left;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}
.recent-updates__body {
	width: 380px;
	display: inline-block;
	margin-bottom: 19px;
	/*height: 45px;*/
}
.recent-updates__body--item1::before,
.recent-updates__body--item2::before,
.recent-updates__body--item3::before
{
	position: absolute;
	margin-left: -65px;
}
.recent-updates__body--item1::before {
	content: url(../img/updates_img1.png);
}
.recent-updates__body--item2::before {
	content: url(../img/updates_img2.png);
}
.recent-updates__body--item3::before {
	content: url(../img/updates_img3.png);
}

.recent-updates__item {
	font-family: "Open Sans";
	font-weight: 800;
}
.recent-updates__date-posted {
	font-size: 1rem;
	color: rgb(69, 69, 69);
	line-height: 1.5;
	ext-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
	font-family: "Open Sans";
	font-weight: lighter;
}
#recent-updates__btn-read {
	font-size: 1.125rem;
	color: rgb(69, 69, 69);
	line-height: 1.333;
	margin-left: 72%;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
	background:none;
	border: none;
	font-family: "league_gothicregular";
	text-transform: uppercase;
	cursor: pointer;
}
/*recent update <<<end*/
/*COMMENTS AND RECENT UPDATES <<<END*/

.ads {
	height: 120px;
	background-color: #f9f9f9;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	vertical-align: middle;
}

.ads__logos {
	width: 675px;
	height: 40px;
	margin: auto;
	text-align: center;
}

.ads__img {
	width: 775px;
	height: 65px;
}

.news_comments {
	height: 195px;
	background-color: #ececec;
	border-top: 1px solid #d8d8d8;
}

.block__footer {
	background-image: url(../img/bgraund2.png);
}

footer {
	width: 960px;
	height: 60px;
	margin: auto;
	border-top: 1px solid lightgrey;
}

.footer__columns {
	display: flex;
	padding: 10px;
	-webkit-justify-content: space-around;
	        justify-content: space-around;

}

.footer__columns-l,
.footer__columns-c,
.footer__columns-r {
	font-size: 1rem;
  font-family: "Open Sans";
  color: rgb(120, 120, 120);
  line-height: 1.5;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.footer__columns-l {
	width: 280px;
	/*padding: 10px;*/
	/*background-color: #FA0;*/
}

.footer__columns-c {
	width: 280px;
}

.footer__columns-r {
	width: 280px;
	/*background-color: #FA0;*/
	/*padding: 10px;*/

}

.footer_menu {
	list-style: none;
	display: inline-block;
	vertical-align: middle;
}

.link_footer {
	text-decoration: none;
	color: white;
	font-family: sans-serif;
}