*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    font-size: 16px;
}

.container
{
    max-width: 1920px;
    margin: auto;
}

.content
{
    max-width: 960px;
    margin: auto;
}

.background-head
{
    width: auto;
    height: 846px;
    background: url(../img/bgraund1.png);
    background-repeat: no-repeat;
    background-position-x: center;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.header
{
    width: inherit;
    display: flex;
    height: 218px;
    padding-top: 60px;
}

.logo
{
    font-family: 'league_gothicregular';
    font-size: 3rem;
    text-align: left;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}


.logo__er
{
    color: #583e63;
    text-shadow: none;
}

.nav
{
    /*margin-left: 16.666666667%;*/
    display: inline-block;
    width: 83.625%;
    height: 24px;
    margin-top: 10px;
    vertical-align: top;
}


.nav__body
{
    display: flex;
    /*width: 100%;*/
    margin-left: 21.666666667%;
    list-style: none;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}

.nav__link
{
    font-family: 'league_gothicregular';
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .4);
}

.nav__link:hover
{
    border-bottom: 2px solid #edbfff;
}

/*SLICK SLIDER >>>START*/
.slider-place
{
    position: relative;
    width: 100%;
    height: 400px;
    background: rgba(0, 0, 0, .2);
}

#slider
{
    position: absolute;
    top: -35px;
    left: 50%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 960px;
    height: 450px;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    /*border: 1px solid green;*/
}

.slick-list,
.slick-track
{
    height: inherit;
}


.slider__triangle-l,
.slider__triangle-r
{
	position: absolute;
    top:52%;
    /*display: block;*/
        -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
}

.slider__triangle-l
{
	/*PARENT 960px -5.729166667% = -55px*/
    left: -5.2%;
}

/*.slider__triangle-shadowl*/
/*.slider__triangle-shadowr */
.slider__triangle-r
{
	/*PARENT 960px -5.729166667% = -55px*/
    right: -5.4%;
}

#slider .slick-dots
{
    right: 15.104166667%;
    bottom: -94px;
    width: 12.5%;
}

.slick-dots li
{
    width: 17px;
    height: 17px;
    margin-right: 2.5px;
    margin-left: 2.5px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: rgba(0,0,0,.5);
}

li.slick-active::after
{
    position: absolute;
    z-index: 1;
    top: 3px;
    right: 3px;
    width: 11px;
    height: 11px;
    content: '';
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: white;
}

.slick-dots button
{
    outline: none;
}

.slick-active button::-moz-focus-inner
{
    border: 0;
}

/*убирает точки в dots по-умолчанию*/
.slick-dots li button:before
{
    content: '';
}

.content-slider
{
    /*parent width 960px*/
    font-family: 'league_gothicregular';
    width: inherit;
    color: #fff;
}

.content-slider__wrapper
{
/*parent width 960px*/
    width: 55%;
    padding-top: 115px;
}

.content-slider__h3
{
    font-size: 3.6rem;
    font-weight: normal;
    line-height: 52px;
    text-transform: capitalize;
}

.content-slider__paragraph
{
    font-size: 1.975rem;
    text-align: left;
    color: #edbfff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

.content-slider__text
{
    font-family: 'Open Sans';
    font-size: 1.1rem;
    font-weight: lighter;
    display: inline-block;
    width: 100%;
}

.iphones
{
    /*parents' size - 960px x 450px / width 265px x 430px*/
    position: relative;
    top: -330px;
    /*left: 620px;*/
    left: 64.583333333%;
    width: 27.604166667%;
    height: 95.555555556%;
    background-image: url(../img/Iphone.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

/*button ---PLAY--->>>start*/

.btn-play:hover
{
    -webkit-box-shadow: 0 0 2px 3px rgba(0,0,0,.5);
            box-shadow: 0 0 2px 3px rgba(0,0,0,.5);
}

/*button of code*/

.btn-play
{
	/*PARENT 264px*/
    position: absolute;
    top: 147px;
    right: 20.833333333%;
    width: 27.924528302%;
    height: 17.209302326%;
    border: 1px solid transparent;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}

.plays
{
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    border: 1px solid rgba(255,255,255,.8);
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: none;
    background-color: rgba(203, 165, 218,.8);
}

.btn-play__border1,
.btn-play__border2,
.btn-play__border3
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}

.btn-play__border1
{
    border: 3px solid rgba(170,170,170,.5);
}

.btn-play__border2
{
    border: 6px solid rgb(70,50,79);
}

.btn-play__border3
{
    border: 3px solid rgba(170,170,170,.5);
}

.fa-play, .fa-pause
{
    font-size: 1.625rem;
    color: #fff;
}

.fa-play {
	padding-left: 8%;
}

.fa-pause {
	padding-right: 0;
	text-align: center;
}

/*button ---PLAY---<<<end*/

/*--------SLICK SLIDER <<< END---------*/

.about
{
    display: flex;
    height: 340px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background:    -moz-linear-gradient(top, #734f81 0%, #34263b 100%);
    background: -webkit-linear-gradient(top, #734f81 0%, #34263b 100%);
    background:      -o-linear-gradient(top, #734f81 0%, #34263b 100%);
    background:     -ms-linear-gradient(top, #734f81 0%, #34263b 100%);
    background:         linear-gradient(to bottom, #734f81 0%, #34263b 100%);
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-items: center;
            align-items: center;
}

.about__content
{
    display: flex;
    width: 100%;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-items: center;
            align-items: center;
}


.about__section
{
    line-height: 1.5;
    max-width: 236px;
    text-align: left;
    color: rgb(255, 255, 255);
}

.about__header
{
    font-family: 'league_gothicregular';
    font-size: 1.875rem;
    font-weight: lighter;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(15, 21, 24);
}

.wrench::before
{
    display: inline-block;
    margin-left: -30px;
    content: url(../img/wrench.png);
    -webkit-transform: translate(-25px, 13px);
       -moz-transform: translate(-25px, 13px);
        -ms-transform: translate(-25px, 13px);
         -o-transform: translate(-25px, 13px);
            transform: translate(-25px, 13px);
}

.facomment::before,
.famusic::before
{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    display: inline-block;
    margin-left: -35px;
}

.facomment::before
{
    content: '\f075';
    -webkit-transform: scaleX(-1) translate(25px, 8px);
       -moz-transform: scaleX(-1) translate(25px, 8px);
        -ms-transform: scaleX(-1) translate(25px, 8px);
         -o-transform: scaleX(-1) translate(25px, 8px);
            transform: scaleX(-1) translate(25px, 8px);
}


.famusic::before
{
    content: '\f001';
    -webkit-transform: translate(-25px, 8px);
       -moz-transform: translate(-25px, 8px);
        -ms-transform: translate(-25px, 8px);
         -o-transform: translate(-25px, 8px);
            transform: translate(-25px, 8px);
}

.about__text
{
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: 300;
    display: block;
    overflow: hidden;
    height: 115px;
    text-shadow: 1px 1px 0 rgba(15, 21, 24);
}

.about__btn
{
    font-family: 'league_gothicregular';
    font-size: 1.125rem;
    line-height: 1.333;
    display: inline-block;
    margin-top: 15px;
    margin-left: 67.79661016%;
    cursor: pointer;
    color: rgb(255,255,255);
    border: none;
    background: none;
    text-shadow: 1px 1px 0 rgba(15, 21, 24);
}


.about__btn:hover
{
    text-shadow: 0 0 8px rgba(255, 255, 255, .8);
}

/*COMMENTS AND RECENT UPDATES >>>START*/

.comments-and-updates
{
    height: 486px;
    border-bottom: 1px solid #e6e6e6;
    background-color: #f9f9f9;
}

.border-white
{
    width: 100%;
    height: 1px;
    margin-bottom: 100px;
    -webkit-border-radius: 40%;
            border-radius: 40%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 8px #000;
            box-shadow: 0 0 8px #000;
}

.comments-and-updates__wrapper
{
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}

#slider-comments
{
    width: 467px;
    height: 295px;
}

#slider-comments .slick-dots
{
    bottom: -20px;
    left: 40.471092077%;
    max-width: 120px;
}

.dots-background.slick-active::after
{
    z-index: 1;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    content: '';
    border: 1px solid #484848;
    background: #515151 !important;
    -webkit-box-shadow: inset 0 1px #888;
            box-shadow: inset 0 1px #888;
}

.slider-comments__item
{
    width: 447px;
    height: 295px;
}

.slider-comments__content
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 427px;
    height: 272px;
    margin-left: 25px;
    padding: 27px 37px 37px 37px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px lightgrey;
            box-shadow: 0 1px 2px lightgrey;
}

.slider-comments__user::before
{
    position: absolute;
    margin-top: -15px;
    margin-left: -60px;
    content: url(../img/user_face.png);
}

.slider-comments__user::after
{
    position: absolute;
    top: 11px;
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-left: -60px;
    content: '';
    border: 1px solid white;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-shadow: inset 1px 0 6px #000;
            box-shadow: inset 1px 0 6px #000;
}



.slider-comments__triangle
{
    position: relative;
    right: -330px;
    bottom: -40px;
    /*left: 0;*/
    width: 20px;
    height: 20px;
    /*border-top: 20px solid #fff;
	border-bottom: 20px solid transparent;
	border-left: 20px solid transparent;*/
    background-image: url(../img/comments-triangle.png);
}


.slider-comments__h3-text
{
    font-family: 'league_gothicregular';
    font-size: 1.875rem;
    font-weight: normal;
    padding-bottom: 5px;
    text-align: left;
    text-transform: uppercase;
    color: rgb(69, 69, 69);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .004);
}

.slider-comments__h3-pink
{
    color: #f8b6ffff;
}

.slider-comments__text
{
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    width: 347px;
    height: 162px;
    color: rgb(69, 69, 69);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .004);
}

/*recent update >>>start*/

.recent-updates
{
    max-width: 384px;
    margin-top: 33px;
}

.recent-updates__h4
{
    font-family: 'league_gothicregular';
    font-size: 1.875rem;
    font-weight: normal;
    line-height: .8;
    margin-bottom: 20px;
    margin-left: -65px;
    text-align: left;
    text-transform: uppercase;
    color: rgb(69, 69, 69);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .004);
}
.recent-updates__body
{
    display: inline-block;
    max-width: 380px;
    margin-bottom: 19px;
}

.recent-updates__body--item1::before,
.recent-updates__body--item2::before,
.recent-updates__body--item3::before
{
	/*content: "";*/
    position: absolute;
    margin-left: -65px;
}

.recent-updates__body--item1::before
{
    content: url(../img/updates_img1.png);
}
.recent-updates__body--item2::before
{
    content: url(../img/updates_img2.png);
}

.recent-updates__body--item3::before
{
    content: url(../img/updates_img3.png);
}

.recent-updates__item
{
    font-family: 'Open Sans';
    font-weight: 800;
}

.recent-updates__date-posted
{
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.5;
    color: rgb(69, 69, 69);
    ext-shadow: 0 1px 0 rgba(255, 255, 255, .004);
}

#recent-updates__btn-read
{
    font-family: 'league_gothicregular';
    font-size: 1.125rem;
    line-height: 1.333;
    margin-left: 72%;
    cursor: pointer;
    text-transform: uppercase;
    color: rgb(69, 69, 69);
    border: none;
    background: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .004);
}

.visibly-768 {
	display: none;
}
/*recent update <<<end*/
/*COMMENTS AND RECENT UPDATES <<<END*/

/*ADs LOGOS >>>START*/

.ads
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 120px;
    padding-top: 25px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: #f9f9f9;
}

.ads__logos
{
    max-width: 775px;
    height: 40px;
    padding: 0 20px 0;
    margin: auto;
    text-align: center;
}

.ads__img
{   
    display: inline-block;
    width: 100%;
    height: 70px;
    background: url(../img/logos_down_origin.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

/*ADs LOGOS <<<END*/

.footer
{
    /*width: 100%;*/
    height: auto;
    border-top: 1px solid lightgrey;
    background-color: #ececec;
}

.footer-grid
{
    position: relative;
    z-index: 3;
    display: flex;
    height: 397px;
    -webkit-align-items: center;
            align-items: center;
}

.footer-grid::after
{
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: 5px;
    content: '';
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-shadow: 0 5px 2px -2px rgba(0,0,0,.75);
       -moz-box-shadow: 0 5px 2px -2px rgba(0,0,0,.75);
            box-shadow: 0 5px 2px -2px rgba(0,0,0,.75);
}

.footer__columns
{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 213px;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}

.footer__columns-h3
{
    font-family: 'league_gothicregular';
    font-size: 1.875rem;
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
    text-transform: uppercase;
    color: rgb(69, 69, 69);
    text-shadow: 1px 1px 0 rgb(255, 255, 255);
}

.logo--footer.logo
{
    line-height: 1.2;
    color: rgb(69, 69, 69);
    text-shadow: 1px 1px 0 rgb(255, 255, 255);
}

.logo__er--footer.logo__er
{
    color: rgb(185, 185, 185);
    text-shadow: 1px 1px 0 rgb(255, 255, 255);
}

.logo--footer::after
{
    position: absolute;
    top: 77px;
    left: 96px;
    content: url(../img/flash.png);
}

.copyright
{
    font-family: 'Georgia';
    font-size: 1rem;
    font-style: italic;
    line-height: 35px;
    text-align: left;
    color: rgb(197, 197, 197);
    text-shadow: 1px 1px 0 rgb(255, 255, 255);
}

.footer__columns-l,
.footer__columns-c,
.footer__columns-r
{
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    width: 278px;
    color: rgb(120, 120, 120);
    text-shadow: 1px 1px 0 rgb(255, 255, 255);
}

.colums-shadow
{
    position: absolute;
    bottom: -4px;
    width: 100%;
    height: 12px;
    -webkit-border-radius: 70%;
            border-radius: 70%;
    background-color: transparent;
    -webkit-box-shadow: 3px 3px 10px rgba(0,0,0,.4);
       -moz-box-shadow: 3px 3px 10px rgba(0,0,0,.4);
            box-shadow: 3px 3px 10px rgba(0,0,0,.4);
}

.nav-background
{
    width: 100%;
    height: 114px;
    background-image: url(../img/bgraund2.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.nav-wrapper
{
    position: relative;
    top: 50%;
    display: flex;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-justify-content: space-between;
            justify-content: space-between;
}



.nav--footer .nav__body
{
    max-width: 528px;
    margin: 0;
}

.nav--footer .nav__link
{
    font-size: 1.25rem;
}

.designed
{
    font-family: 'Open Sans';
    font-size: 0.75rem;
    line-height: 2.81;
	text-align: left;
	color: rgb(255, 255, 255);
	text-shadow: 0 2px 2px rgba(0, 0, 0, .4);
}
